body {
	background-color: pink;
	margin-left: 50px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100px;
}
li {
	font: white;
	display: block;
	width: 100px;
	background-color: red;
}
li a:hover{
	color: orange;
	background-color: green;
}

li a:active{
	padding-left: 5px;
	padding-right: 5px;

}